@import "default";
@import "mixin";
@import "base";
@mixin btnGroupMargin($mar1:10px, $mar2:15px, $mar3:20px) {
    @media screen and (min-width: 1919px) {
        margin: $mar3 0;
    }
    @media screen and (max-width: 1919px) {
        margin: $mar2 0;
    }
    @media screen and (max-width: 1440px) {
        margin: $mar1 0;
    }
}

.new-app-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1px 15px;
    background: $default-bg-color;
    border-top: 1px solid $default-highlight-bg-color;
    @include widthFontSize(200px, 240px, 300px);
    span,
    .app-text-line {
        user-select: none;
        cursor: pointer;
    }
    .app-line {
        display: flex;
        height: 28px; // margin: 10px 0;
        margin-top: 10px;
        .text {
            width: 28%;
            color: $default-font-color;
            padding-left: 10px;
            display: flex;
            align-items: center;
            @include fontSize();
        }
        .input {
            width: 72%;
            position: relative;
        }
    }
    .app-time-line {
        .input {
            input {
                width: 45%;
                margin-right: 5%;
            }
        }
    }
    .app-text-line {
        color: $comp-btn-color;
        align-items: center; // height: 30px;
    }
    input {
        width: 100%;
        padding: 5px; // height: 28px;
        color: $comp-input-color;
        background-color: $comp-input-bg-color;
        border: $comp-input-border-width solid $comp-input-border-color;
    }
    .app-input-line {
        input.input {
            width: 100%;
        }
    }
    .app-result-title {
        .app-text-line {
            margin: 0;
        }
        .app-black-line {
            height: 0px;
            border-top: $comp-inner-separater-height solid $comp-inner-separater-color;
            margin-top: 10px;
            width: 100%;
            padding: 0 15px;
        }
    }
    .big-tree-view {
        .tree-title-box {
            transition: all 1s;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
            border-bottom: 1px solid transparent;
            .icon {
                font-size: 10px;
                transform: scale(0.5, 0.5) rotate(-90deg);
            }
        }
        // .tree-title-box:hover {
        //     background-color: #454545;
        //     color: $comp-btn-color;
        // }
        .tree-title-box.active {
            border-bottom-color: $comp-inner-separater-color;
            .icon {
                transform: scale(0.5, 0.5);
            }
        }
        .tree-view {
            transition: all 1s;
        }
    }
    /* bootstrap-select插件样式 */
    .app-text-select-line {
        .btn-group.bootstrap-select {
            width: 72%;
            .btn {
                width: 100%;
                padding: 0 0 0 5px;
                border-radius: 0;
                height: 100%;
                color: $default-font-color;
                background-color: $comp-input-bg-color;
                border: 2px solid $comp-inner-separater-color;
                .pull-left {
                    font-size: $default-font-size;
                    padding: 5px;
                }
            }
            .dropdown-toggle:focus {
                outline: none !important;
            }
        }
        .btn-group.bootstrap-select.open {
            .btn {
                color: $default-placeholder-color;
                background-color: $comp-input-bg-color;
                border: 2px solid $comp-inner-separater-color;
            }
            .dropdown-menu1.open {
                color: $default-placeholder-color;
                background-color: $comp-input-bg-color;
                border: 2px solid $comp-inner-separater-color;
                // margin-left: 5px;
                margin-top: -2px;
                padding: 0;
                .bs-searchbox {
                    .form-control:focus {
                        box-shadow: none;
                        border: 2px solid $comp-inner-separater-color;
                    }
                }
                .dropdown-menu1.inner {
                    color: $default-placeholder-color;
                    background-color: $comp-input-bg-color;
                    border: 2px solid $comp-inner-separater-color;
                    li {
                        border: 1px solid transparent;
                        cursor: pointer;
                        a {
                            background-color: transparent;
                            span {
                                user-select: none;
                                cursor: pointer;
                            }
                        }
                    }
                    li:hover {
                        border-color: $default-highlight-bg-color;
                        background-color: $comp-input-select-focus-bg-color;
                        color: $comp-btn-color;
                    }
                }
                .dropdown-menu1.inner::-webkit-scrollbar {
                    background-color: $comp-input-select-scroll-bg-color;
                    width: 8px;
                }
                .dropdown-menu1.inner::-webkit-scrollbar-thumb {
                    background-color: $comp-input-select-scroll-bg-color;
                    border-radius: 4px;
                    height: 24px;
                }
            }
        }
    }
    /* bootstrap-select插件样式完 */

    /* jqui-autoComplete插件样式 */
    ul.ui-autocomplete {
        border: 2px solid #2d2d2d;
        li {
            background-color: $comp-input-bg-color;
            color: $default-placeholder-color;
            border: 2px solid transparent;
        }
        li:hover {
            border: 2px solid $default-highlight-bg-color;
            background-color: $comp-input-select-focus-bg-color;
            color: $comp-btn-color;
        }
        li.ui-state-focus{
            margin: 0;
        }
    }
    /* jqui-autoComplete插件样式完 */

    /* jstree样式 */
    .app-tree {
        margin-bottom: 20px; // 目前没啥作用，树的top是js控制的
        // #tree-content{
        //     top: 0;
        // }
    }
    /* jstree样式完 */
    /* jstree选择树样式 */
    .select-tree-box {
        #tree-content {
            margin-top: -15px;
            z-index: 5;
            background-color: $comp-input-select-bg-color;
            border: 1px solid $comp-input-select-border-color;
        }
    }
    /* jstree选择树样式完 */
}

.app-head {
    position: relative;
    padding: 10px 0;
    margin: 10px 0;
    .app-title {
        background: $default-title-bg-color;
        color: $default-highlight-color; // height: 26px;
        border-radius: 30px;
        padding: 5px 15px;
        user-select: none;
        cursor: pointer;
        @include titleFontSize();
    }
    .app-circle {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
        background: none;
        border-radius: 50%;
        border: 2px solid $default-close;
        cursor: pointer;
        .app-circle-inside {
            position: absolute;
            left: 2px;
            top: 2px;
            width: 12px;
            height: 12px;
            background: $default-close;
            border-radius: 50%;
        }
    }
    .app-circle:hover {
        border-color: $comp-btn-color;
        .app-circle-inside {
            background: $comp-btn-color;
        }
    }
}

@media screen and (max-width: 1919px) {
    .new-app-panel {
        padding: 1px 5px;
        .app-head {
            padding: 5px 0;
        }
        .app-line {
            margin-top: 5px;
            .text {
                padding-left: 0px;
            }
        }
        .app-result-title {
            .app-black-line {
                margin-top: 0;
            }
        }
    }
}

// @media screen and (max-width: 1440px) {
//     .new-app-panel{
//         .app-line{
//             margin: 5px 0;
//             .text{
//                 padding-left: 5px;
//             }
//         }
//         .app-tree{
//             padding: 0 0 10px 10px;
//         }
//     }
//     .app-head{
//         padding: 5px 0;
//     }
// } 

/* btn start */

.app-btn-group {
    @include btnGroupMargin();
    display: flex;
    align-items: center;
    justify-content: flex-end;
    div {
        // background-color: $comp-btn-bg-color;
        // color: $comp-btn-color;
        border: 1px solid transparent;
        // border-radius: 3px;
        padding: 0px 5px;
        margin-left: 10px;
        cursor: pointer;
        user-select: none;
        height: $comp-input-height;
        display: flex;
        align-items: center;
        justify-content: center;
        @include fontSize();
    }
    .clear-it,.cancer-it  {
        @extend .bt-btn-second;
    }
    .confirm-it {
        @extend .bt-btn;
    }
    // div.active {
    //     cursor: pointer;
    //     background-color: $comp-pre-btn-bg-color;
    // }
    // div.active:hover {
    //     background-color: $comp-pre-btn-click-bg-color;
    //     border-color: $comp-btn-color;
    // }
}


/* btn end */


/* 设备上下架3d按钮样式 */

.deviceBtn {
    .btn-default {
        position: absolute;
        color: #fff;
        background-color: #356f87;
        border: 1px solid transparent;
        padding: 3px 10px;
        border-radius: 5px;
        user-select: none;
        cursor: pointer;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default:focus:active {
        color: #fff;
        background-color: #46606b;
        border-color: #00f6ff;
    }
}


/* 设备上下架3d按钮样式完 */


/* 左侧导航等一系列面板的样式 */

.view-control-left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    .BreadcrumbMgr {
        order: 1;
        flex: none;
    }
    .OverviewMgr {
        position: relative;
        order: 2;
        flex: none;
    }
    .new-apps-box {
        order: 3;
        flex: none;
    }
}


/* 左侧导航等一系列面板的样式完 */


/* 设备上架的确认弹框样式 */

.newui-layer {
    .device-on-layer-box {
        .device-on-layer-line {
            color: $default-font-color;
            margin: 10px 20px;
            display: flex;
            .text {
                width: 60px;
                display: inline-block;
            }
            .input-div {
                position: relative;
                .input {
                    background: $comp-input-bg-color;
                    color: $comp-input-color;
                    border: $comp-input-border-width solid $comp-input-border-color;
                    padding: 5px 10px;
                }
                .ExtendFieldPop {
                    position: absolute;
                    background: $comp-input-bg-color;
                    z-index: 10;
                    width: 100%;
                    border: $comp-input-border-width solid $comp-input-border-color;
                    max-height: 150px;
                    overflow-y: scroll;
                    .ExtendFieldPop-line {
                        padding: 5px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        cursor: pointer;
                    }
                    .ExtendFieldPop-line:hover {
                        background: #666;
                    }
                }
                .ExtendFieldPop.kong {
                    border: none;
                }
            }
            .extraRequire {
                margin-left: 5px;
            }
        }
    }
}

.app-panel .select-tree-box #tree-content {
    margin-top: -15px;
    z-index: 5;
    background-color: #363634;
    border: 1px solid #2d2d2d;
}


/* 设备上架的确认弹框样式完 */