@import "default";
@import "mixin";

.tempFilter{
	position: absolute;
    top: 30px;
    left: 50%;
    background-color: $default-bg-color;
    transform: translateX(-50%);
    .tf_item{
        display: inline-block;
        padding: 10px;
        border: 1px solid rgba(0,246,255,0);
        .tf_box{
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-right: 8px;
            border: 2px solid $default-arrow;
        }
        .tf_checked{
            background-color: $default-highlight-bg-color;
            border: 2px solid $default-highlight-bg-color;
        }
    }
    .tf_over{
        background-color: rgba(0,246,255,0.2);
        border: 1px solid $default-highlight-bg-color;
    }
}