@charset "UTF-8";
/* 告警规则设置 */
.warningRuleConfig {
  width: 650px;
  height: 360px;
}

.warningRuleConfig .title {
  color: #d5d5d5;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.warningRuleConfig .label {
  font-size: 14px;
  color: #8c8c8c;
}

.warningRuleConfig input {
  width: 70px;
  height: 24px;
  border: 2px solid #1a1a1a;
  background-color: #2a2a2a;
}

.warningRuleConfig .value {
  line-height: 24px;
  font-family: 'Pirulen';
  text-align: center;
  font-size: 18px;
}

.ui-slider-handle {
  width: 1px;
  background-color: #000;
}

.warningRuleConfig_body_btns {
  margin-top: 35px;
}

.warningRuleConfig_body_btns span {
  float: right;
  width: 80px;
  text-align: center;
  margin-right: 20px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* height: 18px; */
  border-radius: 5px;
  color: #e8e8e8;
  background-color: #6a6a6a;
  cursor: pointer;
}

.warningRuleConfig .sliderBar {
  margin-top: 26px;
  border-radius: 0px;
  border: 0px;
}

.warningRuleConfig .sliderBar div {
  border-radius: 0px;
}

.warningRuleConfig .sliderBar span.ui-slider-handle {
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  margin-left: 0;
  border: 0px;
  background-color: #000;
}

.warningRuleConfig .sliderBar span.ui-slider-handle:focus {
  outline: none;
}
