@charset "UTF-8";
/* 资产搜索界面开始 */
html body {
  font-family: "NotoSansHans",  Verdana, Helvetica, Arial, "Open Sans", sans-serif;
  color: #bcbcbc;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1919px) {
  html body {
    font-size: 14px;
  }
}

@media screen and (max-width: 1919px) {
  html body {
    font-size: 14px;
  }
}

@media screen and (max-width: 1440px) {
  html body {
    font-size: 12px;
  }
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.bt-arrow {
  display: block;
  border-top: 9px solid transparent;
  border-left: 9px solid #23888f;
  border-bottom: 9px solid transparent;
  cursor: pointer;
  transition: all 0.3S;
}

.bt-arrow:hover {
  border-left: 9px solid #00ffff;
}

.bt-arrow-open {
  transform: rotate(90deg);
}

.bt-scroll::-webkit-scrollbar,
.scroll-class::-webkit-scrollbar {
  background-color: rgba(53, 53, 53, 0.95);
  width: 10px;
}

.bt-scroll::-webkit-scrollbar-thumb,
.scroll-class::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 10px;
  height: 24px;
}

.bt-value {
  color: #d6d6d6;
}

.bt-value-input, .it-search .search-title .it-search-text, .it-search-moreConditions .app-text-select-line .ui-selectmenu-button {
  color: #bcbcbc;
  border: 2px solid #2d2d2d;
  background: #343434;
  padding: 5px;
}

.bt-btn {
  border: 1px solid #46606b;
  color: #ffffff;
  background: #46606b;
  border-radius: 3px;
}

.bt-btn:hover {
  border: 1px solid default-highlight-bg-color;
  background: #46606b;
}

.bt-btn-second {
  border: 1px solid #6a6a6a;
  color: #ffffff;
  background: #6a6a6a;
  border-radius: 3px;
}

.bt-btn-second:hover {
  border: 1px solid #00ffff;
  background: #46606b;
}

@media screen and (max-width: 1919px) {
  .bt-scroll::-webkit-scrollbar,
  .scroll-class::-webkit-scrollbar {
    width: 8px;
  }
  .bt-scroll::-webkit-scrollbar-thumb,
  .scroll-class::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }
}

@media screen and (max-width: 1440px) {
  .bt-scroll::-webkit-scrollbar,
  .scroll-class::-webkit-scrollbar {
    width: 5px;
  }
  .bt-scroll::-webkit-scrollbar-thumb,
  .scroll-class::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}

.pull-left {
  float: left;
  font-size: 16px;
  padding-left: 10px;
}

.pull-right {
  float: right;
}

.it-search p,
.it-search span,
.it-search li {
  user-select: none;
}

.it-search {
  width: 300px;
  background-color: rgba(53, 53, 53, 0.95);
  /* padding: 8px 0; */
  overflow: hidden;
  /* margin-left: -60px; */
  /* height: 100%; */
  position: absolute;
  z-index: 2;
  border-top: 2px solid #23888f;
}

.it-search ul {
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.it-search li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.it-search .app-head {
  margin-left: 15px;
}

.it-search .app-head .app-circle {
  right: 10px;
}

.it-search .search-title {
  padding: 0 15px;
  color: #bcbcbc;
}

.it-search .search-title .it-search-text {
  width: 260px;
  color: #bcbcbc;
}

.it-search .search-title .jui-inputPane {
  position: relative;
  margin-bottom: 10px;
}

.it-search .search-title .jui-inputPane .icon-search {
  position: absolute;
  right: 15px;
  top: 3px;
  font-size: 20px;
  cursor: pointer;
}

.it-search .content-box {
  position: absolute;
  bottom: 0;
  overflow-y: auto;
}

.it-search .searchContent {
  width: 100%;
  padding: 0 15px;
  color: #d6d6d6;
}

.it-search .searchContent .it-search-moreConditions .search-moreConditions-title {
  cursor: pointer;
  padding: 5px;
}

.it-search .searchContent .it-search-moreConditions .search-moreConditions-title:hover {
  background-color: #454545;
  color: #ffffff;
}

.it-search .searchContent .sanjiao-box {
  float: right;
  padding: 5px 7px;
}

.it-search .searchContent .sanjiao-box span.sanjiao {
  border-left: 5px solid #d6d6d6;
  border-top: 5px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 5px solid transparent;
  transition: transform 0.3s linear;
  transform: rotate(0deg);
  padding-left: 0;
}

.it-search .searchContent .bussiness-type {
  margin-bottom: 15px;
}

.it-search .searchContent .bussiness-type .bussiness-type-title {
  cursor: pointer;
  padding: 5px;
}

.it-search .searchContent .bussiness-type .bussiness-type-title:hover {
  background-color: #454545;
  color: #ffffff;
}

.it-search .searchContent .no-result {
  margin-top: 15px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

/* .it-search .top-line {
    width: 100%;
    background-color: #363636;
    height: 6px;
    margin-top: 8px;
    margin-bottom: 18px;
} */
.it-search .search-title .it-search-btn {
  padding: 5px 15px;
  color: #ffffff;
  background-color: #46606b;
  border-radius: 15px;
  border: 0 none;
  cursor: pointer;
}

.it-search .search-title span.ball {
  color: #23888f;
}

.it-search .search-title span.ball:hover {
  color: #00ffff;
  cursor: pointer;
}

.it-search .search-title .inputPane .it-search .search-title .it-search .searchContent .it-search-moreConditions {
  margin-bottom: 15px;
}

.it-search .searchContent .it-search-moreConditions .search-moreConditions-title .sanjiao-box span.rotation {
  transform: rotate(90deg);
  transition: transform 0.3s linear;
}

.it-search .searchContent div.search-line {
  background-color: #2d2d2d;
  height: 1px;
}

.it-search .searchContent div.search-line-result {
  margin-top: 10px;
}

.it-search .searchContent .bussiness-type .bussiness-type-title .sanjiao-box span.rotation {
  transform: rotate(90deg);
  transition: transform 0.3s linear;
}

.it-search .searchContent .bussiness-type ul li {
  float: left;
  margin-right: 8px;
  color: #bcbcbc;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.it-search .searchContent .bussiness-type ul li.clicked {
  background-color: #46606b;
  color: #ffffff;
  border: 1px solid #00ffff;
}

.it-search .searchContent .bussiness-type ul li:hover {
  background-color: #46606b;
  color: #ffffff;
  border: 1px solid #00ffff;
}

.it-search-moreConditions .app-line {
  display: flex;
  height: 28px;
  margin-top: 10px;
  padding-left: 10px;
}

.it-search-moreConditions .app-line .text {
  width: 28%;
  display: flex;
  align-items: center;
}

.it-search-moreConditions input {
  padding: 5px;
  height: 28px;
  color: #bcbcbc;
  background-color: #343434;
  border: 2px solid #2d2d2d;
}

.it-search-moreConditions .app-input-line input {
  width: 100%;
}

.it-search-moreConditions .app-text-input-line .input {
  width: 70%;
}

.it-search-moreConditions .app-text-select-line {
  position: relative;
}

.it-search-moreConditions .app-text-select-line .select-tree-box {
  width: 70%;
  position: absolute;
  top: 28px;
  right: 0;
  border: 2px solid #2d2d2d;
  background-color: #343434;
  color: #d6d6d6;
  padding: 1px;
  overflow-y: scroll;
  height: 200px;
  display: none;
}

.it-search-moreConditions .app-text-select-line .select-tree-box::-webkit-scrollbar {
  background-color: #555555;
  width: 8px;
}

.it-search-moreConditions .app-text-select-line .select-tree-box::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 4px;
  height: 24px;
}

.it-search-moreConditions .app-text-select-line .select-tree-box #tree-content {
  top: 0 !important;
}

.it-search-moreConditions .app-text-select-line .select-tree-box ul {
  padding-left: 0;
}

.it-search-moreConditions .app-text-select-line .ui-selectmenu-button {
  display: flex;
  align-items: center;
  height: 28px;
}

.it-search-moreConditions .app-text-select-line .ui-selectmenu-button .ui-selectmenu-text {
  padding: 5px;
}

.it-search-moreConditions .app-text-select-line .ui-selectmenu-button:focus {
  outline: 0px;
}

.it-search-moreConditions .app-text-select-line .ui-selectmenu-menu {
  background: #343434;
  border: 2px solid #2d2d2d;
  color: #bcbcbc;
}

.it-search-moreConditions .time-input-box {
  margin-top: 10px;
}

.it-search-moreConditions .time-input-box input {
  width: 72%;
}

.it-search-moreConditions .time-input-box span {
  width: 28%;
  display: inline-block;
}

.it-search-moreConditions .time-input-box .later-time {
  margin-top: 10px;
}

.searchContent .scroll-class {
  overflow: visible !important;
}

@media screen and (max-width: 1919px) {
  .it-search {
    width: 240px;
  }
  .it-search .search-title {
    padding: 0 10px;
    margin-top: 10px;
  }
  .it-search .search-title .it-search-text {
    width: 220px;
  }
  .it-search .search-title .jui-inputPane {
    margin: 10px 0;
  }
  .it-search .search-title .jui-inputPane .icon-search {
    right: 10px;
  }
  .it-search .searchContent {
    width: 240px;
    padding: 0 10px;
  }
  .it-search .searchContent .bussiness-type {
    margin-bottom: 5px;
  }
  .it-search-moreConditions .app-line {
    margin-top: 5px;
  }
  .it-search-moreConditions .time-input-box {
    margin-top: 5px;
  }
  .it-search-moreConditions .time-input-box .later-time {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1440px) {
  .it-search {
    width: 200px;
  }
  .it-search .search-title {
    padding: 0 10px;
    margin-top: 10px;
  }
  .it-search .search-title .it-search-text {
    width: 180px;
  }
  .it-search .search-title .jui-inputPane {
    margin: 10px 0;
  }
  .it-search .search-title .jui-inputPane .icon-search {
    right: 10px;
  }
  .it-search .searchContent {
    width: 200px;
    padding: 0 10px;
  }
  .it-search .searchContent span.sanjiao {
    margin-left: 5px;
    margin-top: 4px;
  }
  .it-search .searchContent .bussiness-type {
    margin-bottom: 5px;
  }
  .it-search-moreConditions .app-line {
    margin-top: 5px;
  }
  .it-search-moreConditions .time-input-box {
    margin-top: 5px;
  }
  .it-search-moreConditions .time-input-box .later-time {
    margin-top: 5px;
  }
}

.it-search-moreConditions .app-black-line {
  width: 0;
  height: 0;
  margin: 0;
}

/* 资产搜索界面结束 */
