.rotateRackCircle{
    border-radius: 50%;
    border: 2px solid rgb(15, 233, 235);
    position: absolute;
}
.rotateRackLine{
    position: absolute;
    height: 2px;
    background: rgb(15, 233, 235);
}
.rackClickMenuBtn{
    width: 48px;
    height: 48px;
    position: absolute;
    left: 126px;
    top: 126px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
}
.rackClickMenuBtn:hover{
    transform: scale(1.2);
    color: #fff;
}