.RackSeatOccupy {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -300px;
  background: rgba(53, 53, 53, 0.95);
  padding: 10px 0;
}

@media screen and (min-width: 1919px) {
  .RackSeatOccupy {
    font-size: 16px;
  }
}

@media screen and (max-width: 1919px) {
  .RackSeatOccupy {
    font-size: 14px;
  }
}

@media screen and (max-width: 1440px) {
  .RackSeatOccupy {
    font-size: 14px;
  }
}

.RackSeatOccupy .RackSeatOccupy-title {
  background: #2a2a2a;
  color: #d6d6d6;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  margin-left: 10px;
  cursor: default;
  user-select: none;
}

.RackSeatOccupy canvas {
  margin-top: -15px;
}

.RackSeatOccupy .RackSeatOccupy-Pop {
  color: #bcbcbc;
  background: #2a2a2a;
  padding: 10px;
  border-radius: 3px;
}
